<div class="header-inner flex">

    <div class="flex-1">
        <h1>
            Swamp <span>Dashboard</span>
        </h1>
    </div>

    <div class="flex flex-pack-center">

        <div class="search-container flex flex-align-center">
            <input type="text" ng-model="handler.serviceQuery" placeholder="Filter services..." ng-class="{ 'filtered': handler.serviceQuery.length > 0 }" />
            <i class="fa fa-filter" ng-if="!handler.serviceQuery.length"></i>
            <i class="fa fa-times" ng-if="handler.serviceQuery.length > 0" ng-click="clearFilter()"></i>
        </div>

    </div>

</div>