<div class="header-inner flex">

    <div class="flex-1">
        <h1>
            Swamp <span>Dashboard</span>
        </h1>
    </div>

    <div class="">

        <button class="btn btn-green margin-right-2"><i class="fa fa-play"></i> Restart all running</button>

        <button class="btn btn-yellow margin-right-2"><i class="fa fa-play"></i> Restart all running</button>

        <button class="btn btn-blue margin-right-2"><i class="fa fa-refresh"></i> Restart</button>

        <button class="btn btn-red"><i class="fa fa-stop"></i> Stop all running</button>


    </div>

</div>