<div class="tail-log" tooltip-placement="left" tooltip="{{tab.tailed ? 'Turn auto scroll off' : 'Turn auto scroll on'}}" ng-click="tab.tailed = !tab.tailed" ng-class="{ 'active': tab.tailed }">
    <i ng-if="tab.tailed" class="fa fa-dot-circle-o text-16"></i>
    <i ng-if="!tab.tailed" class="fa fa-circle-o text-16"></i>
</div>
<div class="clear-log" tooltip-placement="left" tooltip="Clear log" ng-click="tab.content.clear(); updateScroll()">
    <i class="fa fa-trash-o text-16"></i>
</div>
<div class="pause-log" tooltip-placement="left" tooltip="{{tab.paused ? 'Resume logs' : 'Pause logs'}}" ng-click="pauseTabLog()" ng-class="{ 'active': tab.paused }">
    <i class="fa fa-pause"></i>
</div>
<div class="search-log" tooltip-placement="left" tooltip="{{tab.inQueryMode ? '' : 'Search this log'}}" ng-click="tab.inQueryMode = !tab.inQueryMode" ng-class="{ 'active': tab.query.length > 0 || tab.inQueryMode }">
    <i class="fa fa-times" ng-if="tab.inQueryMode" ng-click="tab.query = ''"></i>
    <i class="fa fa-search" ng-if="!tab.inQueryMode"></i>
</div>
<div class="query-input-holder" ng-if="tab.inQueryMode">
    <input type="text" ng-model="tab.query" sw-focus-bool="tab.inQueryMode" />
</div>
<ul class="log-items-list" sw-perfect-scrollbar ng-style="{ 'height': height + 'px' }" suppress-scroll-x="true" sw-scroll auto-scroll-bottom="tab.tailed">
    <li ng-repeat="content in tab.content.getAll()|filter:{text: tab.query} track by $index" class="{{tab.itemcls}}">
        <pre>{{content.time.format('DD/MM/YYYY HH:mm:ss')}} - {{content.text}}</pre>
    </li>
</ul>