<div class="footer-inner">

    <div class="flex header">
        <div class="title flex-1" ng-click="handler.collapsed = !handler.collapsed">
            <i class="fa fa-terminal"></i> Swamp <span ng-if="handler.title"> - {{handler.title}}</span>
        </div>
        <div class="panel-actions" ng-if="!handler.collapsed" ng-click="toggleView()">
            <i class="fa fa-toggle-up" ng-if="!handler.maximized" tooltip="Maximize" tooltip-placement="left"></i>
            <i class="fa fa-toggle-down" ng-if="handler.maximized" tooltip="Minimize" tooltip-placement="left"></i>
        </div>
    </div>

    <div class="content" collapse="handler.collapsed">

        <div class="tab-panel flex" sw-perfect-scrollbar suppress-scroll-y="true">
            <div class="tab-item active" ng-if="handler.initializing">Initializing...</div>
            <div class="tab-item" ng-click="setActive(tab.id)" ng-class="{ 'active': tab.active }" ng-repeat="tab in tabsContent"><i class="fa fa-terminal"></i> {{tab.name}}</div>
        </div>

        <div class="content-inner">
            <div class="log top-shadow" ng-repeat="tab in tabsContent" ng-show="tab.active">
                <div class="tail-log" tooltip-placement="left" tooltip="{{tab.tailed ? 'Turn tail off' : 'Turn tail on'}}" ng-click="tab.tailed = !tab.tailed" ng-class="{ 'active': tab.tailed }">
                    <i ng-if="tab.tailed" class="fa fa-dot-circle-o text-16"></i>
                    <i ng-if="!tab.tailed" class="fa fa-circle-o text-16"></i>
                </div>
                <div class="clear-log" tooltip-placement="left" tooltip="Clear log" ng-click="tab.content.clear()">
                    <i class="fa fa-times-circle-o text-16"></i>
                </div>
                <ul sw-perfect-scrollbar ng-style="{ 'height': handler.panelContentHeight + 'px' }" suppress-scroll-x="true" sw-scroll auto-scroll-bottom="tab.tailed">
                    <li ng-repeat="content in tab.content.getAll()" class="{{tab.itemcls}}">
                        <pre>{{content.time.format('DD/MM/YYYY HH:mm')}} - {{content.text}}</pre>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>