<div class="footer-inner">

    <div class="flex header">
        <div class="title flex-1" ng-click="handler.collapsed = !handler.collapsed">
            <i class="fa fa-terminal"></i> Swamp <span class="swamp-version">(v{{handler.swampVersion}})</span> <span ng-if="handler.title"> - {{handler.title}}</span>
        </div>
        <div class="panel-actions" ng-if="!handler.collapsed" ng-click="toggleView()">
            <i class="fa fa-toggle-up" ng-if="!handler.maximized" tooltip="Maximize" tooltip-placement="left"></i>
            <i class="fa fa-toggle-down" ng-if="handler.maximized" tooltip="Minimize" tooltip-placement="left"></i>
        </div>
    </div>

    <div class="content" collapse="handler.collapsed">

        <div class="tab-panel flex" item-selector=".tab-item" wrapper-position="bottom" sw-vertical-scroller ng-if="!handler.collapsed">
            <div class="sw-vertical-scroller-wrapper">
                <div id="{{'tab_item_' + tab.id}}" class="tab-item" ng-click="setActive(tab.id)" ng-class="{ 'active': tab.active }" ng-repeat="tab in tabsContent"><i class="fa fa-terminal"></i> {{tab.name}}</div>
            </div>
        </div>

        <div class="content-inner">
            <div class="log top-shadow" ng-repeat="tab in tabsContent" ng-if="tab.active && !handler.collapsed">

                <sw-footer-log-unit ng-model="tab" unit-height="handler.panelContentHeight"></sw-footer-log-unit>

            </div>
        </div>

    </div>

</div>