<sw-modal-content modal-title="'Logs Selector'" class="logs-selector">

    <div class="flex padding-2 flex-align-center">
        <div class="flex-1">
            Check the logs you wish to add
        </div>
        <div>

            <div class="filter-logs-wrapper flex flex-align-center">
                <input type="text" ng-model="handler.filterQuery" placeholder="Filter logs..." ng-class="{ 'filtered': handler.filterQuery.length > 0 }" />
                <i class="fa fa-filter" ng-if="!handler.filterQuery.length"></i>
                <i class="fa fa-times" ng-if="handler.filterQuery.length > 0" ng-click="handler.filterQuery = ''"></i>
            </div>
        </div>
    </div>

    <div class="logs-list-wrapper">
        <ul>
            <li ng-repeat="tab in handler.filteredTabsContent = (tabsContent|filter:{name:handler.filterQuery}) track by $index">
                <div class="cursor-pointer">
                    <sw-checkbox ng-class="{ 'color-green': selectedTabs[tab.id] }" ng-model="selectedTabs[tab.id]"
                                 checkbox-label="tab.name" class="color-white"></sw-checkbox>
                </div>
            </li>
        </ul>

        <div class="padding-5 flex color-yellow flex-align-center flex-pack-center" ng-if="handler.filteredTabsContent.length == 0">
            No logs found for query `{{handler.filterQuery}}`
        </div>
    </div>

    <div class="flex logs-selector-actions-wrapper padding-2 flex-pack-end">
        <button class="btn btn-small btn-red margin-right-1" ng-click="cancel()">Cancel</button>
        <button class="btn btn-small btn-green" ng-click="applyChanges()"><i class="fa fa-plus"></i> {{enabledTabsContent.length > 0 ? 'Modify logs' : 'Add logs'}}</button>
    </div>

</sw-modal-content>