.dashboard-container {

  margin-left: 250px;
  padding: 0 20px;

  &.scrolled {
    .table-header {
      padding-left: 270px;
      padding-right: 20px;
      position: fixed;
      top: 59px;
      left: 0;
      width: 100%;
      z-index: 1010;
    }

    .services-list-wrapper {
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }

  .title {
    color: $warm-grey;
    font-weight: 100;
    font-size: 22px;

    .services-summary-row {
      font-weight: 100;
    }
  }

  .fa-filter {
    color: adjust-lightness($dark-blue, 15%);
  }
}
