.root-container {

  padding: 20px;

  ul {
    list-style-type: none;
    li {
      color: $orange;
      cursor: pointer;
      padding: 5px 0;
      border-bottom: solid 1px $mid-aubergine;
    }
  }


}