<div class="root-container">

    <div class="title flex margin-bottom-1 flex-align-center">
        <span>Services</span>
        <span class="services-summary-row margin-left-2 text-12 color-warm-grey padding-top-1">
            <span class="color-green margin-right-2">{{totalRunning}} running</span>
            <span class="color-red margin-right-2">{{totalStopped}} stopped</span>
            <span class="color-yellow">{{totalRestarting}} restarting</span>
        </span>
        <i class="fa fa-filter color-aubergine text-18 margin-left-2"
           tooltip="Services are filtered."
           ng-if="handler.filteredServices.length > 0 && handler.servicesFilter.length"></i>
    </div>

    <div class="table-header flex">
        <div class="flex-1 flex" ng-class="{ 'order': handler.orderBy == 'name' }" ng-click="orderBy('name')">
            <span class="flex-1">Name</span>
            <div class="order-by">
                <i class="fa fa-sort-down" ng-if="(handler.orderBy == 'name' && handler.orderByDir == '-')"></i>
                <i class="fa fa-sort-up" ng-if="((handler.orderBy == 'name' && handler.orderByDir != '-') || handler.orderBy != 'name')"></i>
            </div>
        </div>
        <div class="flex-1 flex" ng-class="{ 'order': handler.orderBy == 'state' }" ng-click="orderBy('state')">
            <span class="flex-1">Status</span>
            <div class="order-by">
                <i class="fa fa-sort-down" ng-if="(handler.orderBy == 'state' && handler.orderByDir == '-')"></i>
                <i class="fa fa-sort-up" ng-if="((handler.orderBy == 'state' && handler.orderByDir != '-') || handler.orderBy != 'state')"></i>
            </div>
        </div>
        <div class="flex-1 flex" ng-class="{ 'order': handler.orderBy == 'monitor.cpu' }"  ng-click="orderBy('monitor.cpu')">
            <span class="flex-1">CPU Usage</span>
            <div class="order-by">
                <i class="fa fa-sort-down" ng-if="(handler.orderBy == 'monitor.cpu' && handler.orderByDir == '-')"></i>
                <i class="fa fa-sort-up" ng-if="((handler.orderBy == 'monitor.cpu' && handler.orderByDir != '-') || handler.orderBy != 'monitor.cpu')"></i>
            </div>
        </div>
        <div class="flex-1 flex" ng-class="{ 'order': handler.orderBy == 'monitor.memory' }" ng-click="orderBy('monitor.memory')">
            <span class="flex-1">Memory Usage</span>
            <div class="order-by">
                <i class="fa fa-sort-down" ng-if="(handler.orderBy == 'monitor.memory' && handler.orderByDir == '-')"></i>
                <i class="fa fa-sort-up" ng-if="((handler.orderBy == 'monitor.memory' && handler.orderByDir != '-') || handler.orderBy != 'monitor.memory')"></i>
            </div>
        </div>
        <div class="flex-1 flex" ng-class="{ 'order': handler.orderBy == 'startTime' }" ng-click="orderBy('startTime')">
            <span class="flex-1">Started</span>
            <div class="order-by">
                <i class="fa fa-sort-down" ng-if="(handler.orderBy == 'startTime' && handler.orderByDir == '-')"></i>
                <i class="fa fa-sort-up" ng-if="((handler.orderBy == 'startTime' && handler.orderByDir != '-') || handler.orderBy != 'startTime')"></i>
            </div>
        </div>
        <div class="flex-1 flex">
            <span class="flex-1">Actions</span>
        </div>
    </div>

    <div class="padding-6 text-16 flex flex-pack-center flex-align-center color-yellow" ng-if="!handler.isLoading && services.length == 0">
        No Services found in the Swamp
    </div>

    <div class="padding-6 text-16 flex flex-pack-center flex-align-center color-yellow" ng-if="!handler.isLoading && handler.filteredServices.length == 0 && services.length > 0">
        No services found for query `{{ handler.servicesFilter }}`
    </div>

    <div class="padding-6 text-16 flex flex-pack-center flex-align-center color-blue" ng-if="handler.isLoading">
        Loading swamp services...
    </div>

    <div ng-repeat="service in handler.filteredServices =
    (services|orderBy:handler.orderByDir + handler.orderBy|filter:{ name: handler.servicesFilter }) track by $index" sw-context-menu="service">
        <ng-include src="'components/service_row_summary/serviceRowSummary.html'" />
    </div>

</div>