.root-container {

  margin-left: 250px;
  padding: 0 20px;

  .title {
    color: $warm-grey;
    font-weight: 100;
    font-size: 22px;

    .services-summary-row {
      font-weight: 100;
    }
  }

}