<!--

     ____    __      __  ______           ____
    /\  _`\ /\ \  __/\ \/\  _  \  /'\_/`\/\  _`\
    \ \,\L\_\ \ \/\ \ \ \ \ \L\ \/\      \ \ \L\ \
     \/_\__ \\ \ \ \ \ \ \ \  __ \ \ \__\ \ \ ,__/
       /\ \L\ \ \ \_/ \_\ \ \ \/\ \ \ \_/\ \ \ \/
       \ `\____\ `\___x___/\ \_\ \_\ \_\\ \_\ \_\
        \/_____/'\/__//__/  \/_/\/_/\/_/ \/_/\/_/

    Swamp is a tool for running, managing and monitoring processes. jump in!

    By Udi Talias (udi.talias@gmail.com)

    https://github.com/uditalias

    ---

    For forking, contributing, issues > https://github.com/uditalias/swamp

-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css /styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/sass-bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/normalize-css/normalize.css" />
    <link rel="stylesheet" href="/scripts/lib/perfect-scrollbar/perfect-scrollbar-0.4.8.min.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) /styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

    <base href="/">

    <link rel="icon" type="image/png" href="/assets/images/favicon.png?rev=2" />
  </head>
  <body ng-app="swamp" ng-class="{ 'footer-panel-open': footerOpen }" ng-controller="mainController">

    <div class="app-wrapper">
        <div ui-view></div>
    </div>

    <!-- build:js /scripts/vendor.js -->
    <!-- bower:js -->
    <script src="lib/radio/radio.js"></script>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/es5-shim/es5-shim.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/json3/lib/json3.min.js"></script>
    <script src="lib/sass-bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/lodash/dist/lodash.compat.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/momentjs/moment.js"></script>
    <script src="lib/angularjs-scope.onready/src/scope.onready.js"></script>
    <script src="lib/angularjs-scope.safeapply/src/Scope.SafeApply.js"></script>
    <script src="lib/socket.io-client/dist/socket.io.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="scripts/lib/perfect-scrollbar/perfect-scrollbar-0.4.8.with-mousewheel.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) /scripts/scripts.js -->
    <!-- globals -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/run/rootScope.run.js"></script>
    <script src="/scripts/run/initializer.js"></script>
    <!-- globals -->


    <!-- config -->
    <script src="/scripts/config/env/constants.js"></script>
    <script src="/scripts/config/environment.config.js"></script>
    <script src="/scripts/config/location.config.js"></script>
    <script src="/scripts/config/enums.config.js"></script>
    <script src="/scripts/config/modal.config.js"></script>
    <script src="/scripts/config/ui.bootstrap.config.js"></script>
    <!-- config -->


    <!-- utils -->
    <script src="/scripts/utils/mixins.js"></script>
    <!-- utils -->


    <!-- filters -->
    <script src="/scripts/filters/trim.js"></script>
    <!-- filters -->


    <!-- providers -->
    <!-- providers -->

    <!-- decorators -->
    <!-- decorators -->


    <!-- factories -->
    <script src="/scripts/factories/swampServicesFactory.js"></script>
    <script src="/scripts/factories/aggregatedDataFactory.js"></script>
    <script src="/scripts/factories/modalParamsFactory.js"></script>
    <!-- factories -->


    <!-- services -->
    <script src="/scripts/services/serializeService.js"></script>
    <script src="/scripts/services/socketService.js"></script>
    <script src="/scripts/services/swampManager.js"></script>
    <script src="/scripts/services/swampServicesManager.js"></script>
    <script src="/scripts/services/modalService.js"></script>
    <script src="/scripts/services/authApiService.js"></script>
    <script src="/scripts/services/userService.js"></script>
    <script src="/scripts/services/tokenService.js"></script>
    <!-- services -->

    <!-- providers -->
    <script src="/scripts/providers/fullScreenMessageProvider.js"></script>
    <!-- providers -->

    <!-- directives -->
    <script src="/directives/perfect_scrollbar/perfectScrollbar.js"></script>
    <script src="/directives/scroll/scroll.js"></script>
    <script src="/directives/checkbox/checkbox.js"></script>
    <script src="/directives/scroll_state/scrollState.js"></script>
    <script src="/directives/aggregated_data_chart/aggregatedDataChart.js"></script>
    <script src="/directives/vertical_scroller/verticalScroller.js"></script>
    <script src="/directives/full_screen_message/fullScreenMessage.js"></script>
    <script src="/directives/footer_log_unit/footerLogUnit.js"></script>
    <script src="/directives/modal_content/modalContent.js"></script>
    <script src="/directives/focus_bool/focusBool.js"></script>
    <script src="/directives/context_menu/contextMenu.js"></script>
    <!-- directives -->


    <!-- components -->
    <script src="/components/header/headerController.js"></script>
    <script src="/components/footer/footerController.js"></script>
    <script src="/components/aside/asideController.js"></script>
    <script src="/components/disconnect_message/disconnectMessageController.js"></script>
    <script src="/components/modals/environments_editor/environmentsEditorController.js"></script>
    <script src="/components/modals/logs_selector/logsSelectorController.js"></script>
    <script src="/components/modals/prompt/promptController.js"></script>
    <!-- components -->


    <!-- controllers -->
    <script src="/scripts/controllers/mainController.js"></script>
    <!-- controllers -->


    <!-- page:dashboard -->
    <script src="/pages/dashboard/dashboardStates.js"></script>
    <script src="/pages/dashboard/dashboardController.js"></script>
    <!-- page:dashboard -->

    <!-- page:404 -->
    <script src="/pages/404/404States.js"></script>
    <script src="/pages/404/404Controller.js"></script>
    <!-- page:404 -->

    <!-- page:login -->
    <script src="/pages/login/loginStates.js"></script>
    <script src="/pages/login/loginController.js"></script>
    <!-- page:login -->

    <!-- endbuild -->

    <!-- build:js({.tmp,app}) /scripts/templates.js -->

    <!-- endbuild -->

    <script>
        //<![CDATA[
            var socketConnectionString = "<%= socketConnectionString %>";
            var swampVersion = "<%= swampVersion %>";
            window.document.title = "Swamp (v<%= swampVersion %>) | Dashboard";
        //]]>
    </script>
</body>
</html>
