.service-info {
  background-color: adjust-lightness($cool-grey, -10%);
  @include box-shadow(inset 0 1px 2px 0 rgba(0,0,0,0.2));
  border-bottom: solid 1px $cool-grey;

  .header {
    border-bottom: solid 1px $cool-grey;
    padding-bottom: 10px;

    .service-name {
      font-weight: 400;
    }
  }

  .service-info-table {

    border-bottom: solid 1px $cool-grey;

    .service-info-row {

      .service-info-item {
        border-right: solid 1px $cool-grey;

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  .monitor-table {

    .monitor-item {

      border-right: solid 1px $cool-grey;

      &:last-child {
        border-right: none;
      }

      .monitor-title {

      }

      .monitor-content {

        width: 100%;
        height: 70px;

        &.memory {
          border-bottom: solid 1px $blue;
        }

        &.cpu {
          border-bottom: solid 1px $green;
        }

        .memory-chart-item {
          border-top: solid 1px $blue;
          border-left: solid 1px $blue;
          border-right: solid 1px $blue;
        }

        .cpu-chart-item {
          border-top: solid 1px $green;
          border-left: solid 1px $green;
          border-right: solid 1px $green;
        }

      }
    }

  }
}