header {
  position: fixed;
  background-color: $cool-grey;
  @include box-shadow(0 1px 2px 0 rgba(0,0,0,0.3));
  @include transition(right 200ms);
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10;

  &.scrolled {
  }

  .swamp-io-logo {
    font-weight: 100;
    span {
      font-family: 'Ubuntu Mono';
    }
  }

  .service-name {

  }
}