.io-container {

  @include transition(right 200ms);
  position: relative;
  right: 0;
  margin-top: 48px;
  color: $white;

  .shadow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
  }

  pre {
    font-family: 'Ubuntu Mono';
    font-weight: 100;
    white-space: pre;
    display: block;
    word-wrap: break-word;
    margin: 0;
  }
}