.io-container {

  margin: 48px 0 0 250px;
  color: $white;

  pre {
    font-family: 'Ubuntu Mono';
    font-weight: 100;
    white-space: pre;
    display: block;
    word-wrap: break-word;
    margin: 0;
  }
}