<div class="service-summary">

    <div class="service-summary-row flex flex-align-center" ng-click="service.viewOptions.toggle = !service.viewOptions.toggle"
         ng-class="{ 'running': service.state == SERVICE_STATE.RUN, 'stopped': service.state == SERVICE_STATE.STOP, 'restarted': service.state == SERVICE_STATE.RESTART, 'pending': service.state == SERVICE_STATE.PENDING, 'toggle': service.viewOptions.toggle }">

        <div class="flex-1">{{service.options.startIndex}}</div>
        <div class="flex-1">
            {{service.name}} <span ng-if="service.pid">[{{service.pid}}]</span>
        </div>
        <div class="flex-1">
            <span ng-if="service.state == SERVICE_STATE.RUN">Running</span>
            <span ng-if="service.state == SERVICE_STATE.RESTART">Restarting...</span>
            <span ng-if="service.state == SERVICE_STATE.STOP">Stopped</span>
            <span ng-if="service.state == SERVICE_STATE.PENDING">Pending...</span>
        </div>
        <div class="flex-1">
            <span ng-if="service.monitor.cpu !== false">{{service.monitor.cpu|number:2}}%</span>
            <span ng-if="service.monitor.cpu === false">N/A</span>
        </div>
        <div class="flex-1">
            <span ng-if="service.monitor.memory !== false" tooltip="{{(service.monitor.memory|number) + ' bytes'}}">{{bytesToSize(service.monitor.memory)}}</span>
            <span ng-if="service.monitor.memory === false">N/A</span>
        </div>
        <div class="flex-1">
            {{service.uptime || '-'}}
        </div>
        <div class="flex-1 flex" ng-click="$event.stopPropagation()">
            <div class="flex-1 margin-right-1" tooltip="Start service">
                <button class="btn btn-green width-max" ng-disabled="service.state == SERVICE_STATE.RUN || service.state == SERVICE_STATE.RESTART || service.state == SERVICE_STATE.PENDING"
                        ng-click="serviceActions.start(service)"><i class="fa fa-play"></i></button>
            </div>
            <div class="flex-1 margin-right-1" tooltip="Stop service">
                <button class="btn btn-red width-max" ng-disabled="service.state == SERVICE_STATE.STOP || service.state == SERVICE_STATE.RESTART || service.state == SERVICE_STATE.PENDING"
                        ng-click="serviceActions.stop(service)"><i class="fa fa-stop"></i></button>
            </div>
            <div class="flex-1" tooltip="Restart service">
                <button class="btn btn-yellow width-max" ng-disabled="service.state == SERVICE_STATE.STOP || service.state == SERVICE_STATE.PENDING"
                        ng-click="serviceActions.restart(service)"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
    </div>

    <ng-include src="'components/service_row_info/serviceRowInfo.html'"></ng-include>
</div>