<div>
    [{{service.pid}}] {{service.name}} cpu: {{service.monitor.cpu|number:4}}% memory: {{service.monitor.memory}} ({{bytesToSize(service.monitor.memory)}})

    state: {{service.state}} isRunning: {{service.isRunning}}

    <button class="btn btn-red" ng-click="serviceActions.stop(service)"><i class="fa fa-stop"></i> Stop</button>

    <button class="btn btn-green" ng-click="serviceActions.start(service)"><i class="fa fa-play"></i> Start</button>

    <button class="btn btn-yellow" ng-click="serviceActions.restart(service)"><i class="fa fa-refresh"></i> Restart</button>

    started: {{service.uptime}}

    <div>
        <ul>
            <li ng-repeat="out_log in service.errorLogData.getAll()">
                <pre>{{out_log.text}}</pre>
            </li>
        </ul>
    </div>
</div>