.color-orange {
  color: $orange;
}

.color-aubergine {
  color: $aubergine;
}

.color-light-aubergine {
  color: $light-aubergine;
}

.color-mid-aubergine {
  color: $mid-aubergine;
}

.color-dark-aubergine {
  color: $dark-aubergine;
}

.color-warm-grey {
  color: $warm-grey;
}

.color-white {
  color: $white;
}

.color-light-grey {
  color: $light-grey;
}

.color-cool-grey {
  color: $cool-grey;
}

.color-red {
  color: $red;
}

.color-grey {
  color: $grey;
}

.color-yellow {
  color: $yellow;
}

.color-blue {
  color: $blue;
}

.color-green {
  color: $green;
}