
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: 300;
  background: $dark-aubergine;
  color: $warm-grey;
  >div[ui-view] {
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}