$orange: #DD4814;
$aubergine: #772953;
$light-aubergine: #77216F;
$mid-aubergine: #5E2750;
$dark-aubergine: #2C001E;
$warm-grey: #AEA79F;
$white: #FFF;
$light-grey: #EFEFEF;
$cool-grey: #333;
$red: #DF382C;
$grey: #AEA79F;
$yellow: #EFB73E;
$blue: #19B6EE;
$green: #38B44A;

$global-border-radius: 4px;
$global-box-shadow: 0 2px 2px 0 #C2C2C2;