<div class="login-container spread flex flex-align-center flex-pack-center">

  <div class="margin-right-5">
    <h1>
      <div>Swamp</div>
      <span>Dashboard</span>
    </h1>
  </div>


  <form name="loginForm" novalidate class="padding-left-5">
    <div class="margin-bottom-1">
      <input type="text" name="username" ng-class="{ 'filled': credentials.username.length > 0 }" placeholder="username" ng-required="true" ng-model="credentials.username" />
    </div>
    <div class="margin-bottom-1">
      <input type="password" name="password" ng-class="{ 'filled': credentials.password.length > 0 }" placeholder="password" ng-required="true" ng-model="credentials.password" />
    </div>
    <div>
      <button class="btn btn-green width-max" ng-disabled="loginForm.$invalid" ng-click="login()">Login</button>
    </div>
  </form>

  <div class="rainbow flex">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

</div>
